aiokafka==0.11.0
clickhouse-driver==0.2.9
pydantic==2.7.1
pydantic-settings==2.3.0
python-dotenv==1.0.1

opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
